{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Это может быть интересным</h5>
    <div class="card-body">
        <p class="card-text"> Куда уходит энергия и почему нет сил? 10 каналов, куда мы сливаем свои силы, не замечая этого Об этом сообщает</p>
        <a href="https://woman.rambler.ru/psychology/50898400-kuda-uhodit-energiya-i-pochemu-net-sil-10-kanalov-kuda-my-slivaem-svoi-sily-ne-zamechaya-etogo/"
           class="btn btn-danger">Читать далее</a>
    </div>
</div>
</div>

{% endblock sidebar %}